<footer class="bg-light text-center p-3 mt-5 border-top">
  <div class="container">
    <div class="row align-items-center gy-3">
      <div class="col-12 col-md-4 f-info-socials">
        <a href="#" class="facebook-icon"><i class="fa-brands fa-square-facebook mx-2 fs-4"></i></a>
        <a href="#" class="instagram-icon"><i class="fa-brands fa-square-instagram mx-2 fs-4"></i></a>
        <a href="#" class="linkedin-icon"><i class="fa-brands fa-linkedin mx-2 fs-4"></i></a>
      </div>
      <div class="col-12 col-md-4 f-info-brand text-muted">
        &copy; 2025 AirHub Private Limited
      </div>
      <div class="col-12 col-md-4 f-info-links">
        <a href="/privacy" class="mx-2 text-decoration-none">Privacy</a>
        <a href="/terms" class="mx-2 text-decoration-none">Terms</a>
      </div>
    </div>
  </div>
</footer>
